<!-- this is a huge pop up form for the user to create a new movie -->
<div class="modal fade" id="modal-create">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
                <!-- This is the title of the form -->
				<h5 class="modal-title" id="exampleModalLabel">Create</h5>
                <!-- This button allows the user to exit out of the form -->
                <button type="button" class="close" data-dismiss="modal">
                	<span>&times;</span>
                </button>
			</div>
            <div class="modal-body">
                <!-- attaches the create views file to the front-end -->
            	<form action="{% url 'create' %}" method="post">
                    <!-- token for security reasons -->
                    {% csrf_token %}
                    <!-- name of new Movie -->
                    <div class="form-group">
                        <label for="movieName">Name</label>
                        <input type="text" class="form-control" id="movieName" placeholder="Enter name" name="name"/>
                    </div>

                    <!-- Picture of new Movie -->
                    <div class="form-group">
                    	<label for="moviePicture">Picture</label>
                        <input type="text" class="form-control" id="moviePicture" placeholder="Image URL" name="url"/>
                    </div>

                    <!-- Rating of new Movie -->
                    <div class="form-group">
                    	<label for="movieRating">Rating</label>
                        <input type="number" class="form-control" id="movieRating" placeholder="1-10" name="rating" min="1" max="10"/>
                    </div>

                    <!-- Notes of new Movie -->
                    <div class="form-group">
                    	<label for="movieNotes">Notes</label>
                        <textarea name="notes" id="movieNotes" class="form-control"></textarea>
                    </div>

                    <!-- button that allows user to submit there new Movie -->
                    <button type="submit" class="btn btn-primary">Create new movie</button>

            	</form>
            </div>
		</div>
	</div>
</div>
